<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 side-bar">
            <missions-list></missions-list>
            <div class="fleets-list">
                <fleets-list></fleets-list>
            </div>
        </div>

        <div class="col-md-5 leaflet-map">
            <leaflet-map></leaflet-map>
        </div>

        <div class="col-md-5 side-bar">
            <a routerLink="/home">
                <button type="button" class="close cursor-pointer" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </a>
            <h4 *ngIf="selectedFleet">{{ selectedFleet.getName() | uppercase }}</h4>
            <div *ngIf="error" class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            <div *ngIf="info" class="alert alert-info" role="alert">
                {{ info }}
            </div>

            <div *ngIf="selectedFleet">
                <button type="button" class="btn btn-default btn-block cursor-pointer" (click)="emergencyLand()">EMERGENCY LAND</button>

                <p>Fleet management</p>
                <div class="row">
                    <div class="col-md-3">
                        <button class="btn btn-default btn-block cursor-pointer" type="button" (click)="ring()">RING</button>
                        <button class="btn btn-default btn-block cursor-pointer" type="button" (click)="stack()">STACK</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-default btn-block cursor-pointer" type="button" (click)="column()">COLUMN</button>
                        <button class="btn btn-default btn-block cursor-pointer" type="button" (click)="line()">LINE</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-default btn-block cursor-pointer" type="button" (click)="takeoff()">TAKEOFF</button>
                        <button class="btn btn-default btn-block cursor-pointer" type="button" (click)="land()">LAND</button>
                    </div>
                </div>

                <p>Target control</p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                          <span class="input-group-addon">X:</span>
                          <input type="number" class="form-control" step="0.1" placeholder="0.0">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon">Y:</span>
                          <input type="number" class="form-control" step="0.1" placeholder="0.0">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                          <span class="input-group-addon">Hdg:</span>
                          <input type="number" class="form-control" placeholder="0">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon">Perim:</span>
                          <input type="number" class="form-control" step="0.1" placeholder="0.0">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-default btn-block cursor-pointer" type="button" (click)="updateTarget()">UPDATE TARGET</button>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-default btn-block cursor-pointer" type="button" (click)="targetStart()">START</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-default btn-block cursor-pointer" type="button" (click)="return()">RETURN</button>
                            </div>
                        </div>
                    </div>
                </div>

                <p>Mission control</p>
                <div class="row">
                    <div class="col-md-6">
                        Active UAV: not set
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-default btn-block cursor-pointer" type="button" (click)="elect()">ELECT</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-default btn-block cursor-pointer" type="button" (click)="replace()">REPLACE</button>
                    </div>
                </div>
                <input class="btn btn-default cursor-pointer" type="file" accept=".gpx">
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-default btn-block cursor-pointer" type="button" (click)="missionStart()">START</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-default btn-block cursor-pointer" type="button" (click)="hold()">HOLD</button>
                    </div>
                </div>

                <p>Fleet status</p>
                <div id="logs">
                    <div *ngFor="let log of logs" class="{{ log.class }}">
                        {{ log.message }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
