<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 side-bar">
            <missions-list></missions-list>
            <div class="fleets-list">
                <fleets-list></fleets-list>
            </div>
        </div>

        <div class="col-md-6 leaflet-map">
            <leaflet-map></leaflet-map>
        </div>

        <div class="col-md-4 side-bar">
            <button type="button" class="close cursor-pointer" aria-label="Close" (click)="onClose()">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 *ngIf="selectedDrone">{{ selectedDrone.getName() | uppercase }}</h4>
            <div *ngIf="error" class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            <div *ngIf="info" class="alert alert-info" role="alert">
                {{ info }}
            </div>
            <p>Telemetry</p>
            <ul *ngIf="telemetry">
                <li>Longitude: {{ telemetry.longitude }}</li>
                <li>Latitude: {{ telemetry.latitude }}</li>
            </ul>

            <p><strong>Video</strong></p>
            <canvas id="video-canvas"></canvas>
        </div>
    </div>
</div>
