<h3>Missions</h3>

<div class="list-group">
    <!--Link to the mission details-->
    <a *ngFor="let mission of missions" routerLink="/mission/{{mission.getId()}}" class="list-group-item list-group-item-action {{mission.getClass()}}">
        {{mission.getName()}}
    </a>
</div>

<a routerLink="/mission/new" role="button" class="btn btn-outline-primary btn-lg btn-new-mission" >New mission</a>
