<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 side-bar">
            <missions-list></missions-list>
            <div class="fleets-list">
                <fleets-list></fleets-list>
            </div>
        </div>

        <div class="col-md-10 leaflet-map">
            <leaflet-map></leaflet-map>
        </div>
    </div>
</div>
