<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 side-bar">
            <missions-list></missions-list>
            <div class="fleets-list">
                <fleets-list></fleets-list>
            </div>
        </div>

        <div class="col-md-6 leaflet-map">
            <leaflet-map></leaflet-map>
        </div>

        <div class="col-md-4 side-bar">
            <a routerLink="/home">
                <button type="button" class="close cursor-pointer" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </a>
            <h4 *ngIf="selectedMission">{{ selectedMission.getName() | uppercase }}</h4>
            <div *ngIf="error" class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            <div *ngIf="info" class="alert alert-info" role="alert">
                {{ info }}
            </div>

            <div *ngIf="selectedMission">
                <div *ngIf="!selectedMission.getFleetId()" class="alert alert-warning" role="alert">
                    No fleet
                </div>
                <div *ngIf="selectedMission.getFleetId()" class="form-group">
                    Fleet #{{ selectedMission.getFleetId() }} : <a routerLink="/fleet/{{selectedMission.getFleetId()}}">View details</a>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input [(ngModel)]="selectedMission.started" class="form-check-input" type="radio" name="started" [value]="true" [checked]="selectedMission.isStarted()">
                                    Started
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input [(ngModel)]="selectedMission.started" class="form-check-input" type="radio" name="started" [value]="false" [checked]="!selectedMission.isStarted()">
                                    Not started
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input [(ngModel)]="selectedMission.over" class="form-check-input" type="radio" name="over" [value]="true" [checked]="selectedMission.isOver()">
                                    Over
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input [(ngModel)]="selectedMission.over" class="form-check-input" type="radio" name="over" [value]="false" [checked]="!selectedMission.isOver()">
                                    Not over
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Drones -->
                <ul *ngIf="selectedMission.getFleetId()">
                    <li *ngFor="let drone of missionFleet.getDrones()">
                        {{ drone.getName() }}: <a routerLink="/drone/{{ drone.getId() }}">View details</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
