<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 side-bar">
            <missions-list></missions-list>
            <div class="fleets-list">
                <fleets-list></fleets-list>
            </div>
        </div>

        <div class="col-md-6 leaflet-map">
            <leaflet-map></leaflet-map>
        </div>

        <div class="col-md-4 side-bar">
            <a routerLink="/home">
                <button type="button" class="close cursor-pointer" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </a>
            <h3>New mission</h3>
            <div *ngIf="error" class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            <div *ngIf="info" class="alert alert-info" role="alert">
                {{ info }}
            </div>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
              <div class="form-group">
                <label for="mission-name">Name</label>
                <input ngModel required name="name" type="text" class="form-control" id="mission-name" placeholder="Type the name here">
              </div>
              <div class="form-group">
                <label for="mission-type">Mission type</label>
                <select ngModel required name="type" class="form-control" id="mission-type">
                  <option value="surveillance">Surveillance mission</option>
                  <option value="waypoint">Waypoint mission</option>
                  <option value="mapping">Mapping mission</option>
                </select>
              </div>
              <div class="form-group">
                <label for="fleet">Fleet</label>
                <select ngModel required name="fleet" class="form-control" id="fleet">
                  <option *ngFor="let fleet of fleets" value="{{fleet.getId()}}">{{fleet.getName()}}</option>
                </select>
              </div>
              <button type="submit" class="btn btn-success cursor-pointer">Start</button>
            </form>
        </div>
    </div>
</div>
