/* You can add global styles to this file, and also import other style files */
.side-bar {
    background-color: #f1f1f1;
    padding: 1em;
    border: 1px solid #d7d7d7;
}

.fleets-list {
    padding-top: 1em;
}

.leaflet-map {
    padding-top: 1em;
}

.cursor-pointer {
    cursor: pointer;
}
