<h3>Fleets</h3>

<div class="list-group">
    <a *ngFor="let fleet of fleets" routerLink="/fleet/{{fleet.getId()}}" class="list-group-item {{fleet.getClass()}}">
        {{fleet.getName()}}
    </a>
</div>
